#card2 {
    width: calc(30vw + 6em);
    max-height: min-content;
}

.ModalBack{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 700px) and (orientation:landscape) {

    #card2 {
        display: flex;
        flex-direction: row;
        width: calc(60vw + 6em);
        max-height: min-content;
    }

    .card-body {
        display: flex;
        flex: 1 1 auto;
        padding: 1rem 1rem;
        flex-direction: column;
        justify-content: space-around;
    }   

    .card-img, .card-img-bottom, .card-img-top {
        width: 50%;
    }

}