.contador_container {
    margin: 1em auto;
    width: 12em;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countSubmit {
    margin: -.5em;
}